*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-bottom: 0px !important;
}
.hide p{
    line-height: normal;
}
.dropdown-menu{
    background-color: blanchedalmond !important;
}
.dropdown-menu a:hover{
    background-color: rgb(250, 223, 190) !important;
}

@media screen and (max-width:1200px){
    .hide{
        display: none;
    }
}

@media screen and (max-width:992px) {
    .nav-link{
        font-size: 14px !important;
    }
}

@media screen and (max-width:992px) {
    .tin-noi-bat{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .menu-phone{
        display: none;
    }
    .right-phone-product{
        display: none;
    }
}
.nav-link{
    color: white !important;
    font-size: 18px;
    margin: 0px 4px ;
}
.topcontact .nav-link{
    padding: 0;
    padding:0 6px;
}
.topcontact{
    background-color: rgba(128, 128, 128, 0.149);
}
#myslide li{
    list-style: none;
}

#myslide .list-group-item{
    padding: 0 !important;
}
.item-p{
    padding: 10px;
}
.salebody{
    height: 80px;
}
.til{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.item-p:hover{
    background-color: blanchedalmond;
}
.sell-product h5{
    color: black;
    font-weight: bold;
}
.left-phone-product h5{
    color: black;
    font-weight: bold;
}
.menu-phone{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 40px;
}
.menu-phone li{
    float: right;
    margin: 0px 15px;
}
.menu-phone li a{
    display: block;
    color: black;
    text-decoration: none;
}

.menu-phone li a:hover{
    color: orange;
}
.menu-bottom li{
    list-style: none;
}
.menu-bottom li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.menu-bottom ul{
    margin-bottom: 0 !important;
    padding: 10px 0;
}

/* .menu-bottom li a::after{
    content: "";
    border: 1px solid gray;
    margin: 10px;
} */
.thong-tin h6{
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px;
}
.content-footer li{
    list-style: none;
    margin-bottom: 8px;
}
.content-footer li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.content-footer li a:hover{
    color: orange;
}
.link-copyright a{
    color: white;
    text-decoration: none;
}
.breadcrumb{
    margin-bottom: 0 !important;
    background-color:#F8F8FF !important;
}
.breadcrumb li{
    text-decoration: none;
}
.breadcrumb li a{
    color: black;
    font-weight: bold;
}
.menu-bottom li a:hover{
    color: orange;
}
.thong-tin-san-pham h4{
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}
.ma-sp,.gia-sp{
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}
.mota-sp {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 15px;
    line-height: 30px;
}
.hover-img{
    overflow: hidden;
}
.hover-img img{
    transition: 1s;
}
.hover-img img:hover{
    transform: scale(1.5);
    transition: 1s;
}
.thong-tin-chi-tiet .nav-link{
    color: black !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.thong-tin-chi-tiet ul:first-child{
    background-color: #F8F8FF;
}
.thong-tin-chi-tiet{
    border: 1px solid #e6e6e6;
}
.dot::after{
    content: "*";
    color: red;
}
.tin-noi-bat .nav-link {
    padding: 10px 0px;
    color: black !important;
    
}
.tin-noi-bat .nav-item{
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}
